* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.header {
  background-color: #ddd;
  border-bottom: solid 1px black;
  margin-bottom: 40px;
  margin-top: 0;
  padding: 20px;
}

.card-container {
  border: solid 1px black;
  padding: 40px 60px;
  margin: 20px;
  text-overflow: clip;
}


export default App;